<div class="mt-4">
    <h3>Đăng ký tài khoản</h3>
    <form method="POST" action="/user/register">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>